<div class="container">

  <div class="row mt-5">
      <p class="text-success"><%= flash[:notice]%></p>
      <h3 class = "admin-customers-index" style="background-color:rgba(107,90,105,0.1);">投稿</h3>
    </div>  
    <div class = "row m-5">
      <%= form_with model:@list, url:lists_path,local:true do |f| %>
      <div class="form-group form-inline">
      <label for="genre_name">ジャンル名</label>
        <%= f.text_field :name, class: "form-control mx-5" %>
        <%= f.text_field :body, class: "form-control mx-5" %>
        
        <div class="form-group form-inline">
        <label class="col-md-3">ジャンル</label>
        <div class="col-md-9">
           <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), class:"form-control" %>
        </div>
      </div>
        
         <div class="" id="star">
           <%= f.label :rate,'評価 :', class:"1" %>
           <%= f.hidden_field :rate, id: :review_star %>
         </div>
         <script>
         $('#star').raty({
           size     : 36,
           starOff:  '<%= asset_path('star-off.png') %>',
           starOn : '<%= asset_path('star-on.png') %>',
           starHalf: '<%= asset_path('star-half.png') %>',
           scoreName: 'li[rate]',
           half: true,
         });
         </script>
         
         
        <%= f.submit '新規登録', class: "btn btn-success mt-5" %>
      </div>
      <% end %>
    </div>

  <div class="container">
      <div class="row-md-5 mt-5">
        <div class="col-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>タスク</th>
            </tr>
          </thead>
          <tbody>
            <% @lists.each do |list| %>
            <tr>
              <td><%= list.name %></td>
              <td><%= list.genre.name %></td>
              
               <div class="">
                 <div id="star-rate-<%= list.id %>"></div>
                 <script>
                 $('#star-rate-<%= list.id %>').raty({
                   size: 36,
                   starOff:  '<%= asset_path('star-off.png') %>',
                   starOn : '<%= asset_path('star-on.png') %>',
                   starHalf: '<%= asset_path('star-half.png') %>',
                   half: true,
                   readOnly: true,
                   score: <%= list.rate %>,
                 });
                 </script>
               </div>
               <div class="">
                 <%= list.rate %>
               </div>
              <td>
                <%= link_to "編集する", edit_list_path(list), class: "btn btn-sm btn-success" %>
                <%= link_to "削除する", list_path(list),method: :delete, class: "btn btn-sm btn-danger ml-2" %>
              </td>
            </tr>
            <%= link_to "show",list_path(list)%>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>